.projectCardBodyWide {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 10px 0 var(--darkcharcoal);
  border-radius: 2px;
  margin: 15px 0;
  justify-content: flex-end;
}
.projectCardBody {
  width: 100%;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 10px 0 var(--darkcharcoal);
  border-radius: 2px;
  margin: 15px 0px;
  padding: 10px;
  justify-content: flex-end;
}
.projectCardText {
  padding: 20px;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectCardImage {
  width: 100%;
  height: 100%;
  padding: 10px
}
.projectCardImage img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 15% 50%;
  justify-self: flex-start;
} 

@media screen and (min-width: 768px) {
  /* Change the navigattion menu bar for tablet screens */

  .aside-left {
    flex-direction: row;
  }
  .projectCardBodyWide {
    margin: 15px 10px;
  }

  .projectCardBody {
    flex: 1 1 40%;
    margin: 15px 10px;
  }

  aside {
    order: 0;
  }

}

@media screen and (min-width: 992px) {
  /* Change the navigattion menu bar for PC screens */
  .projectCardBody {
    flex: 1 1 25%;
  }
}
