.form {
    display: flex;
    max-width: 700px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: var(--khaki);
    margin: auto;
}
.formCard{
    background-color: var(--khaki);
}

.form h3{
    padding: 3rem;
}
.inputField{
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 2rem;
}