.footer {
  padding: 0 0.5rem;
  background-color: var(--darkcharcoal);
}
.footerContainer {
display: flex;
max-width: 1180px;
justify-content: space-between;
margin: auto;
align-items: center;

}
footer h4 {
  color: var(--chalk);
  padding: 2rem 1rem;
  font-size: 1.5rem;
}
.footerImage {
  width: 2.5em;
  padding: 1rem;
  opacity: 0.6;
}
.footerImage:hover {
  opacity: 1;
}
@media screen and (min-width: 640px) {
  .footer {
    padding: 0 3rem;
  }
  .footerImage {
    width: 50px;
    padding: 0.75rem;
  }
  footer h4 {
    padding: 3rem 2rem;
    font-size: 2.5rem;
  }
  
}
