.header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  background-color: var(--darkcharcoal);
}
.menubar {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--darkcharcoal);
  color: var(--chalk);
  height: auto;
  width: 100%;
  list-style: none;
}
.items:nth-child(1) {
  margin-top: 50px;
}
.items {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-top: 1px var(--khaki) solid;
  cursor: pointer;
  background-color: var(--darkcharcoal);
}
.itemsUnselected {
  text-decoration: none;
  color: var(--chalk)
}
.itemsSelected {
  text-decoration: none;
  color: var(--khaki);
}
.btn {
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  border: none;
  background-color: unset;
}
.hamburger {
   height: 40px; 
  background-color: var(--darkcharcoal);
}

@media screen and (min-width: 640px) {
  .header {
    height: 70px;
  }
  .list {
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--darkcharcoal);
    height: 100%;
  }
  .items:nth-child(1) {
    margin-top: 0;
  }

  .items {
    margin-right: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
    width: auto;
    padding: 0;
    border: none;
  }
.items:hover, 
.items a:hover {
  color: var(--khaki);
  transform: translate(-1px, -1px);
}

  .btn {
    display: none;
  }
}
