/* Reset CSS */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

​h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

​input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

​ol,
ul {
  list-style: none;
}

textarea {
  resize: none;
}
/* End of Reset */
/* color scheme */
:root {
  --chalk: #fbf7f5;
  --khaki: #d4c69e;
  --greenButton: #036d1a;
  --darkcharcoal: #33320b;
  --textBlack: #0c0c0c;
  --modalcharcoal: #111109ce;
}
html {
  /* set global font size to 10 for easy calculations */
  font-size: 62.5%;
  background-color: var(--chalk);
}

body {
  /* Set body font and text size */
  font-family: "Open Sans", sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--textBlack);
  background-color: var(--chalk);
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.mt-5 {
  margin-top: 70px;  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--textBlack);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1180px;
  justify-content: center;
  padding: 0 0px;
  margin-top: 0px;
}
.cardBodyWide {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 10px 0 var(--darkcharcoal);
  border-radius: 2px;
  margin: 15px 0;
}
.cardBody {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 10px 0 var(--darkcharcoal);
  border-radius: 2px;
  margin: 15px 0px;
  padding: 10px;
  align-self: stretch;
  justify-content: flex-end;
}
.cardText {
  padding: 20px;
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTextAbout {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--khaki);
}
.cardImage {
  width: 100%;
}
.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 15% 50%;
}
.cardImage {
  width: 100%;
}
.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 15% 50%;
}
@media screen and (min-width: 768px) {
  /* Change the navigattion menu bar for tablet screens */

  .aside-left {
    flex-direction: row;
  }
  .cardBodyWide {
    margin: 15px 10px;
    align-items: stretch;
  }

  .cardBody {
    flex: 1 1 40%;
    margin: 15px 10px;
  }

  .cardAboutMe {
    flex-direction: row;
  }

  aside {
    order: 0;
  }

  #projectsHdg {
    margin-left: 0;
    padding-left: 1rem;
  }

  button:hover {
    color: var(--khaki);
    transform: translate(-1px, -1px);
  }
}

@media screen and (min-width: 992px) {
  /* Change the navigattion menu bar for PC screens */
  .cardBody {
    flex: 1 1 25%;
  }
  .cardTextAbout {
    flex: 0 0 30%;
  }
}